html {
  color: black;
  overflow: hidden;
  overflow-y: scroll;
  justify-content: center;
  position: absolute;
}

.mensura {
  grid-area: 1 / 2 / 2 / 2;
}

.valuaciones {
  grid-area: 2 / 1 / 3 / 2;
}

.formulario {
  display: flex;
  flex-direction: column;
  padding: 15px;
  border-radius: 15px;
  margin-bottom: 10px;
}

.elemento label {
  position: relative;
  width: 300px;
  font-family: Arial, Helvetica, sans-serif;
  justify-content: center;
}

.elemento input[type="number"] {
  margin-bottom: 10px;
  border-radius: 3px;
  font-size: 15px;
  justify-content: center;
  display: flex;
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #95a6a7;
  outline: none;
}

input[type="checkbox"] {
  width: 80px;
  justify-content: center;
}

fieldset {
  border: 3px solid #95a6a7;
  border-radius: 15px;
  width: 70%;
  padding: 5%;
}

legend {
  border: 1px solid #95a6a7;
  text-align: center;
  background-color: #95a6a7;
  border-radius: 8px;
  color: white;
}

.tabla {
  width: 120%;
  border-collapse: collapse;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #4742425b;
}

thead {
  background-color: #5f564a46;
  border-bottom: solid;
  color: whitesmoke;
}

.tabla th,
.tabla td {
  padding: 6px;
  text-align: center;
  border-bottom: 2px solid #808080;
}

tr:nth-ch(even) {
  background-color: #dddddd;
}

.total {
  display: flex;
  justify-content: space-between;
  width: 120%;
  margin-right: 8px;
  background-color: #323b42;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  color: #fff;
}

.name-input {
  width: 50px;
  padding: 0;
  border: none;
  border-bottom: 2px solid #ccc;
  outline: none;
  background: transparent;
  color: black;
  font-size: 2px;
}

.name-label {
  position: absolute;
  left: 0;
  padding: 0;
  color: black;
  font-size: 15px;
  pointer-events: none;
  transition: 0.5s;
}

.name-input:valid ~ .name-label,
.name-input:focus ~ .name-label {
  transition: all 0.5s ease-in;
  color: #95a6a7;
  outline: none;
  color: #95a6a7;
}

.btn {
  padding: 1rem 1.5rem;
  margin-left: 25px;
  font-size: 12px;
  font-weight: semibold;
  cursor: pointer;
  transition: all 1s ease;
  background-color: transparent;
  border: 2px solid #eee;
  border-radius: 0.5rem;
  color: #ffff;
  margin-bottom: 10px;
}

.btn:hover {
  transform: translate(0, -6px);
  box-shadow: 0.5rem, 0.5rem, 1rem #fff, -0.5 1rem #ccc;
}

button :active {
  box-shadow: inset 0.2rem 0.2rem 1rem #fff, inset -0.2rem 1rem #ccc;
}

.botonesValuaciones {
  margin-top: 10px;
}

.calcular-btn {
  background-color: #0f4d75;
}

.borrar-btn {
  background-color: #ff6666;
}

.volver-btn {
  background-color: #f1c40e;
  margin-left: 600px;
}

.conteinerResultados {
  display: none;
}

.volver-btn {
  display: none;
}

.tabla {
  display: none;
}
